<header class="header">
    <ul class="nav nav-list pull-left">
        <li>
            <a class="menu-toggle" href="#menu">
                <span class="access-hide">Menu</span>
                <span class="icon icon-menu"></span>
                <span class="header-close icon icon-close"></span>
            </a>
        </li>
    </ul>
    <a class="header-logo" href="index.html">iDBP</a>
    <ul class="nav nav-list pull-right">
        <li id="top-menu">
<!--           Set Menu-->
        </li>
    </ul>
</header>
<nav class="menu" id="menu"></nav>
<nav class="menu menu-right" id="profile"></nav>
<!--    Above should be an element as generic template -->

<div id="main" class="content">
<!--    Main content -->
</div>
<footer class="footer">
    <div class="container">
        
        <p>DBP site</p>
        
    </div>
</footer>
<div class="fbtn-container"></div>

<!--//Modal-->
<div aria-hidden="true" class="modal fade" id="modal-register" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-heading">
                <a class="modal-close" data-dismiss="modal">&times;</a>
                <h2 class="modal-title"><%=resource.txtRegister +' '+resource.txtUser %></h2>
            </div>
            <div class="modal-inner" id="register_content"></div>
            
        </div>
    </div>
</div>
<div aria-hidden="true" class="modal fade" id="modal-login" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-heading">
                <a class="modal-close" data-dismiss="modal">&times;</a>
                <h2 class="modal-title"><%=resource.txtUser %></h2>
            </div>
            <div class="modal-inner" id="login_content"></div>
            
        </div>
    </div>
</div>


<script type="text/javascript">

$('#modal-register').on('shown.bs.modal', function (e) {
                $('body').addClass('modal-open');
            });

</script>