<style>
.icon-warning{
  font-size: 4.2em;
  color: darkgrey;
  text-align: center;
  display: block;
  vertical-align: middle;
  position: relative;
}
p.warning{
    text-align: center;
  display: block;
  position: relative;
  color: darkgrey;
}
</style>
<span class="icon icon-warning"></span>
<p class="warning">Tiada sambungan internet</p>