<div class="toast"><div class="tooltip bottom in"  style="top: -680px; left: -34px; display: block; position: relative;"><div class="toast-inner tooltip-inner"><a id="#btnCloseNotification"data-dismiss="toast">Tutup</a><div class="toast-text"><%= message %></div></div></div></div>
    
    
    