<style>

.form-group-btn{
  display: block;
  vertical-align: middle;
margin-bottom: -20px;
}
.btn{
    font-size: 14px;
}
.minMsg{
    font-size: 12px;
}
</style>

<div class="row">
    <div class="form-group form-group-label">
        <div class="col-lg-6 col-sm-8">
            <label class="floating-label" for="float-email"><%=resource.txtEmail %></label>
            <input class="form-control" id="float-email" type="email">
        </div>
    </div>
    <div class="form-group form-group-label">
        <div class="col-lg-6 col-sm-8">
            <label class="floating-label" for="float-fullname"><%=resource.txtFullName %></label>
            <input class="form-control" id="float-fullname" type="text">
        </div>
    </div>

    <div class="form-group form-group-label">
         <div class="col-lg-6 col-sm-8">
            <label class="floating-label" for="float-password"><%=resource.txtPassword %></label>
            <input class="form-control" id="float-password" type="password">
            <span class='minMsg'><%=resource.msgMinPassword %></span>
        </div>
    </div>
    <div class="form-group form-group-label">
         <div class="col-lg-6 col-sm-8">
            <label class="floating-label" for="float-password_confirmation"><%=resource.txtPassword %>*</label>
            <input class="form-control" id="float-password_confirmation" type="password">
        </div>
    </div>
    <div class="form-group-btn">
        <div class="col-md-10 col-md-push-1"> 
                <button id="btnDoRegister" class="btn btn-blue waves-button waves-light waves-effect" type="submit"  data-dismiss="modal" data-toggle="modal"><%=resource.txtRegister %></button>
        </div>
    </div>


</div>



