.content-heading .container{
background: #008ed1; /* Old browsers */
background: -moz-linear-gradient(top,  #008ed1 46%, #006fc4 98%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(46%,#008ed1), color-stop(98%,#006fc4)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #008ed1 46%,#006fc4 98%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #008ed1 46%,#006fc4 98%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #008ed1 46%,#006fc4 98%); /* IE10+ */
background: linear-gradient(to bottom,  #008ed1 46%,#006fc4 98%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008ed1', endColorstr='#006fc4',GradientType=0 ); /* IE6-9 */

}