<% if (loadStatus == "init"){ %>
<style>
.price{
  color: #2196f3; 
 
}
.nav-book{
  margin-left: 15px;
  margin-right: 20px;
  padding-top: 15px;   
}
.card-action{
  height: 15px;
  bottom: -23px;
}
.card-inner{
  height: 120px;   
}
.sipnosis{
   display: block;
  display: -webkit-box;
  max-width: 100%;
  height: 60px;
  margin-top: -20px;
  font-size: 12px;
  line-height: 1;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
    
}
.title{
    display: block;
  display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 16px;
    
}
.writer{
    
  display: -webkit-box;
 margin-top:-20px;
 font-size: 14px;   
}
.card:active, .card:focus, .card:hover {
  color: #212121;
  outline: 0;
  text-decoration: none;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15), 0 5px 10px 1px rgba(0, 0, 0, 0.3), 0 10px 30px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15), 0 5px 10px 1px rgba(0, 0, 0, 0.3), 0 10px 30px rgba(0, 0, 0, 0.15);
}

</style>
<% } %>
<% _.each(defaultBookList, function(book,i) { %>   
   <div class="col-lg-4 col-sm-6">
    
        <div class="card waves-button waves-effect" data-bookid="<%= book.id %>">
            <img class="b-lazy bookthumb" 
                data-src="<%= resource.rootPublicUrl+'/'+book.pic %>" 
                src="http://placehold.it/120x80&text=placeholder" />
            <div class="card-main">
                <!--card main-->
                <div class="card-inner">
                    <p ><span class="title"><%= book.title %></span><br><span class="writer"><%= book.authors.author_name %></span></p>
                    <p class="sipnosis">
                        <%= book.summary %>
                    </p>
                </div>
                <div class="card-action">
                    <ul class="nav nav-book nav-list pull-right">
                         <li>
                            <span class="price" >RM <%= book.price %></span>
                        </li>
                    </ul>
                </div>
                <!--/card-main-->
            </div>
        </div>
    </div>
<% }); %>
    <div id="loadMoreCardList"></div>