<style>
.form-group-btn{
  display: block;
  vertical-align: middle;
    margin-bottom: -20px;
}
.btn{
    font-size: 14px;
}
</style>


<div class="row">
    <div class="form-group form-group-label">
        <div class="col-md-10 col-md-push-1">
            <label class="floating-label" for="login-email"><%=resource.txtEmail %></label>
            <input class="form-control" id="login-email" type="text" name="email">
        </div>
    </div>
    <div class="form-group form-group-label">
    <div class="col-md-10 col-md-push-1">
            <label class="floating-label" for="login-password"><%=resource.txtPassword %></label>
            <input class="form-control" id="login-password" type="password" name="password">
        </div>
    </div>
    <div class="form-group-btn">
        <div class="col-md-10 col-md-push-1">      
                <button class="btn btn-blue waves-button waves-light waves-effect" type="submit" id="btnLogin"><%=resource.txtLogin %></%></button>
                <button class="btn waves-button waves-effect" data-dismiss="modal" data-toggle="modal" href="#modal-register" id="btnGoToRegister" type="button"><%=resource.txtRegister %></button>
                <button class="btn waves-button waves-effect" id="btnForgotPassword" type="button"><%=resource.txtForgot %></button>
        </div>
    </div>
</div>



