<style>

#frame
{
        position:fixed;
        height:100vh;/*150vh*/
        width:100vw;
        overflow-x: hidden;
        overflow-y: hidden;
}
#frame a{

    text-decoration: none;
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
    border-style: solid;
    border-width: 4px;
    border-color: #FFF;
    color: #FFF;

}
/*sliding navigation between the slides*/
#frame ul{


    margin: 0;
    padding: 0;
    position: absolute;
    left:0;

    height:100vh;


    list-style-type: none;
    -webkit-transform-style: preserve-3d;/*YAY lag is fixed on firefox*/
	-ms-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
	transform-style: preserve-3d;

}

#frame li{
    margin: 0;
    padding: 0;
    list-style-type: none;

    float: left;
    width: 100vw;
    height: 100%;
    color: #FFF;
    text-align: center;

}
#frame li img {

   /* Set up proportionate scaling */
  width: auto;
  height: 100%;
	
  /* Set up positioning */
/*  position: fixed;*/
  top: 0;
  left: 0;
}

/*end of sliding navigation between the slides*/
</style>
  <script type="text/javascript" src="/js/itemslide.min.js"></script>
<div id="frame">
  <ul>
            <% _.each(samples, function(book){ %>  
            <li>
               <img class="b-lazy" 
                data-src="<%= resource.rootPublicUrl +'/'+ book.images_path %>" 
                src="<%= resource.imagePlaceholder %>" />
            </li>
            <% }); %>
            
           
        </ul>
</div>
<script>
var carousel;
$(document).ready(function () {

    carousel = $("#frame ul");

    carousel.itemslide({
        one_item: true //Set this for proper full screen navigation
    }); //initialize itemslide

    $(window).resize(function () {
        carousel.reload();
    }); //Recalculate width and center positions and sizes when window is resized
    
    carousel.on('changeActiveIndex', function(e) {
         blazy.revalidate();
    });
    
});
  
</script>
