<div class="content-inner">
     <div class="container">
        <!--idbp-->
        <div class="card-wrap">
            <div class="row">
                
<% _.each(dataBook, function(book) { %>   
   <p><%= book.id %></p> 
<% }); %>
            </div>
         </div>
    </div>
</div>
