
<div class="menu-scroll">
    <div class="menu-wrap">
        <div class="menu-top">
            <div class="menu-top-img">
                <img alt="John Smith" src="images/samples/landscape.jpg">
            </div>
            <div class="menu-top-info">
                <a class="menu-top-user" href="javascript:void(0)"><span class="avatar pull-left"><img alt="" src="images/users/avatar-001.jpg"></span></a>
            </div>
        </div>
        <div class="menu-content">
            <ul class="nav">
<!--
                <li>
                    <a href="javascript:void(0)"><span class="icon icon-account-box"></span>Profile Settings</a>
                </li>
                <li>
                    <a href="javascript:void(0)"><span class="icon icon-add-to-photos"></span>Upload Photo</a>
                </li>
-->
                <li id="btnLogout">
                    <a  href="#"><span class="icon icon-exit-to-app"></span><%= resource.txtLogout %></a>
                </li>
            </ul>
        </div>
    </div>
</div>
